# Cache Python
__pycache__/
*.py[cod]

# Environnements virtuels
.venv/
venv/
env/

# Variables d'environnement
.env

# IDE
.idea/
.vscode/

# Jupyter
.ipynb_checkpoints/

# Fichiers système
.DS_Store
Thumbs.db